/* Base styles */

body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  flex-shrink: 0;
  padding: 0 15px;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-style-header {
  color: #2e2f42;
}

.header-menu,
.header-contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-menu-link {
  position: relative;
  padding: 24px 0;
  align-items: center;
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.active {
  color: #404bbf;
}

/* Underline */

.header-menu-link.active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: #404bbf;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* End underline */

.header-contacts-item {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-contacts-item:hover,
.header-contacts-item:focus {
  color: #404bbf;
}

/* Section 1. Hero */

.hero {
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
  max-width: 496px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* Section 2. Features */

.icon-place {
  margin-bottom: 8px;
  padding: 24px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.features {
  background-color: #fff;
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title-item {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3. Team */

.company-employees {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.company-employees-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-right: auto;
  margin-bottom: 72px;
}

.company-employees-list {
  background-color: #f4f4fd;
  display: flex;
  gap: 24px;
}

.container-employees {
  padding: 32px 0;
}

.company-employees-card {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.company-employees-name {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.company-employees-specialty {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-employee-link {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-employee-link:focus,
.social-media-employee-link:hover {
  background-color: #404bbf;
}

.employee {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.icon-employee-media {
  fill: #f4f4fd;
}

/* Section 4. Portfolio */

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text-block {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-types {
  /* margin-top: 32px; */
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-types-clarification {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.box-for-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay-text {
  transform: translateY(0%);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.logo-style-footer {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.logo-part {
  margin-right: 120px;
}

.text-social {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.social-list.down-links {
  display: flex;
  gap: 16px;
}

.social-media-employee-link.down-green {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-employee-link:focus,
.social-media-employee-link:hover {
  background-color: #404bbf;
}

.social-media-employee-link.down-green:focus,
.social-media-employee-link.down-green:hover {
  background-color: #31d0aa;
}